# raw library files
glfw/
glad/
stb/
assimp/
glm-0.9.9.8/
backpack/

# a C++ program used for Test 
Test/

# local vs config files 
**/.vs/
**/Debug/
**/x64/
*.sln
*.vcxproj
*.filters
*.user
